{% extends 'base.html' %}
{% block content %}
  <h2>{{ titulo }}</h2>
  <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.nombre.label }} {{ form.nombre(class='form-control') }}
    {% if form.nombre.errors %}
      <div class="text-danger border border-dark">{{ form.nombre.errors[0] }}</div>
    {% endif %}

    {{ form.descripcion.label }} {{ form.descripcion(class='form-control') }}
    {% if form.descripcion.errors %}
      <div class="text-danger border-dark">{{ form.descripcion.errors[0] }}</div>
    {% endif %}

    {{ form.precio.label }} {{ form.precio(class='form-control', step='0.01') }}
    {% if form.precio.errors %}
      <div class="mt-2 p-2 alert alert-danger">{{ form.precio.errors[0] }}</div>
    {% endif %}

    {{ form.stock.label }} {{ form.stock(class='form-control') }}
    {% if form.stock.errors %}
      <div class="text-danger border-dark">{{ form.stock.errors[0] }}</div>
    {% endif %}

    {{ form.submit(class='btn btn-primary mt-3') }}
    <a href="{{ url_for('main.productos') }}" class="btn btn-secondary mt-3 ms-2">Salir</a>
  </form>
{% endblock %}
