{% extends 'base.html' %}
{% block content %}
<h2>Nueva Venta</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  {{ form.cliente_id.label }} {{ form.cliente_id(class='form-select mb-3') }}

  <table class="table table-bordered border-dark">
    <thead>
      <tr>
        <th>Seleccionar</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {% for p in productos %}
      <tr>
        <td><input type="checkbox" name="producto_id" value="{{ p.id }}"></td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.precio }}</td>
        <td><input type="number" name="cantidad" min="1" max="{{ p.stock }}" value="1"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ form.submit(class='btn btn-primary') }}
  <a href="{{ url_for('main.ventas') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}